langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
faiss-cpu
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain_classic
langchain_chroma
chromadb
langchain_huggingface
sentence-transformers
torchvision
